/* ************************
General
************************** */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.margin-t {
    margin-top: 13px;
}

.background-color-blue {
    background-color: #509ABB;
}

.carousel-indicators li {
    height       : 22px;
    width        : 22px;
    border-radius: 16px;
    border-top   : 0px;
    border-bottom: 0px;
}

.img-card-product {
    border-radius: 15px;
    max-height   : 210px;
    max-width    : 100%;
}

.img-children {
    max-height   : 600px;
    max-width    : 100%;
    border-radius: 15px;
}

.content-title-banner-products h4 {
    font-family: 'Patrick Hand', "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color      : #05325f;
    font-weight: bolder;
}

.slider {
    color: #bf3d6b;
}


/* ************************
BIG DESKTOP VERSION 
************************** */
@media only screen and (min-width: 1300px) {
    .content-statements {
        padding: 2rem
    }

    .content-icon-statements {
        top : -10px;
        left: 39px;
    }

    .content-icon-statements-third {
        top : -10px;
        left: 64px;
    }

    .content-icon-statements-third img {
        width: 80px;
    }

    .content-icon-statements img {
        width: 80px;
    }

    .content-text-statements {
        max-width   : 160px;
        margin-right: auto;
        margin-left : 116px;
    }

    .content-text-statements p {
        font-size: 20px;
    }

    .content-title-banner-products h4 {
        font-size: 80px;
        padding  : 25px;
    }

    .content-title-banner-products img {
        width        : 63px;
        margin-bottom: 12px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }

    .img-baner-product-girl {
        border-radius: 15px;
        max-height   : 300px;
        max-width    : 100%;
    }
}

/* ************************
SMALL DESKTOP VERSION 
************************** */
@media (min-width: 980px) and (max-width: 1299px) {
    .content-statements {
        padding: 1.5rem;
    }

    .content-icon-statements {
        left: 22px;
    }

    .content-icon-statements-third {
        left: 45px;
    }

    .content-icon-statements-third img {
        width: 64px;
    }

    .content-icon-statements img {
        width: 64px;
    }

    .content-text-statements {
        max-width   : 154px;
        margin-right: auto;
        margin-left : 74px;
    }

    .content-text-statements p {
        font-size: 18px;
    }

    .content-title-banner-products h4 {
        font-size: 69px;
        padding  : 25px;
    }

    .content-title-banner-products img {
        width        : 63px;
        margin-bottom: 12px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }

    .img-baner-product-girl {
        border-radius: 15px;
        max-height   : 300px;
        max-width    : 100%;
    }
}

@media only screen and (min-width: 811px) and (max-width: 979px) {
    .content-statements {
        padding: 1.3rem;
    }

    .content-icon-statements {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements-third {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements img {
        width: 68px;
    }

    .content-icon-statements-third img {
        width: 68px;
    }

    .content-text-statements {
        width: 100%;
    }

    .content-text-statements p {
        font-size: 21px;
    }

    .content-title-banner-products h4 {
        font-size: 55px;
        padding  : 28px 20px 0px 20px;
    }

    .content-title-banner-products img {
        width        : 63px;
        margin-bottom: 12px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }

    .img-baner-product-girl {
        border-radius: 15px;
        max-height   : 300px;
        max-width    : 100%;
    }

    .img-card-product {
        max-height: 170px;
    }

    .margin-t {
        margin-top: 0px;
    }
}

/* ************************
 TABLET PORTRAIT VERSION 
************************** */
@media only screen and (min-width: 768px) and (max-width: 810px) {
    .content-statements {
        padding: 1.3rem;
    }

    .content-icon-statements {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements-third {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements img {
        width: 68px;
    }

    .content-icon-statements-third img {
        width: 68px;
    }

    .content-text-statements {
        width: 100%;
    }

    .content-text-statements p {
        font-size: 18px;
    }

    .content-title-banner-products h4 {
        font-size: 55px;
        padding  : 28px 20px 0px 20px;
    }

    .content-title-banner-products img {
        width        : 63px;
        margin-bottom: 12px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }

    .img-baner-product-girl {
        border-radius: 15px;
        max-height   : 300px;
        max-width    : 100%;
    }

    .img-card-product {
        max-height: 170px;
    }

    .margin-t {
        margin-top: 0px;
    }
}

/* ************************
PHONE LANDSCAPE VERSION
************************** */
@media only screen and (min-width: 560px) and (max-width: 767px) {
    .content-statements {
        padding: 1.3rem;
    }

    .content-icon-statements {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements-third {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements img {
        width: 68px;
    }

    .content-icon-statements-third img {
        width: 68px;
    }

    .content-text-statements {
        width: 100%;
    }

    .content-text-statements p {
        font-size: 21px;
    }

    .content-title-banner-products h4 {
        font-size: 55px;
        padding  : 28px 20px 0px 20px;
    }

    .content-title-banner-products img {
        width        : 63px;
        margin-bottom: 12px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }

    .img-baner-product-girl {
        border-radius: 15px;
        max-height   : 300px;
        max-width    : 100%;
    }

    .img-card-product {
        max-height: 170px;
    }

    .margin-t {
        margin-top: 0px;
    }
}

/* ************************
PHONE PORTRAIT VERSION 
************************** */
@media only screen and (min-width: 420px) and (max-width: 560px) {
    .content-statements {
        padding: 0.8rem;
    }

    .content-icon-statements {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements-third {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements img {
        width: 55px;
    }

    .content-icon-statements-third img {
        width: 55px;
    }

    .content-text-statements {
        width: 100%;
    }

    .content-text-statements p {
        font-size: 16px;
    }

    .content-title-banner-products h4 {
        font-size: 55px;
        padding  : 28px 20px 0px 20px;
    }

    .content-title-banner-products img {
        width        : 63px;
        margin-bottom: 12px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }

    .img-baner-product-girl {
        border-radius: 15px;
        max-height   : 300px;
        max-width    : 100%;
    }

    .img-card-product {
        max-height: 170px;
    }

}

/* ************************
PHONE PORTRAIT VERSION 
************************** */
@media only screen and (min-width: 315px) and (max-width: 420px) {
    .content-statements {
        padding: 0.8rem;
    }

    .content-icon-statements {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements-third {
        position  : relative;
        text-align: center;
    }

    .content-icon-statements img {
        width: 48px;
    }

    .content-icon-statements-third img {
        width: 48px;
    }

    .content-text-statements {
        width: 100%;
    }

    .content-text-statements p {
        font-size: 15px;
    }

    .content-title-banner-products h4 {
        font-size: 40px;
        padding  : 28px 20px 0px 20px;
    }

    .content-title-banner-products img {
        width        : 40px;
        margin-bottom: 5px;
    }

    .img-baner-product-girl {
        border-radius: 15px;
        max-height   : 300px;
        max-width    : 100%;
    }

    .img-card-product {
        max-height: 170px;
    }

    .margin-t {
        margin-top: 0px;
    }

    .carousel-indicators li {
        height    : 13px;
        width     : 13px;
        margin-top: 15px;
    }
}



.card-products-logo {
    position  : absolute;
    max-height: 40px;
    top       : 13px;
    left      : 19px;
}

.card-products-img {
    max-height: 240px;
    max-width : 100%;
}

.card-products-title {
    font-size: 17px;
    color    : #0d70ac;
}

.card-products-text {
    font-size   : 16px;
    color       : #0d70ac;
    line-height : 18px;
    margin-right: 10%;
}

.card-products-old-price {
    font-size  : 18px;
    color      : #0d70ac;
    line-height: 18px;
    font-weight: bold;
}

.card-products-new-price {
    font-size   : 24px;
    color       : #d20509;
    line-height : 18px;
    font-weight : bold;
    margin-right: 4%;
}

.card-products-price {
    font-size    : 23px;
    color        : #d20509;
    margin-bottom: 0px;
    line-height  : 20px;
    font-weight  : bold;
}

.card-products-discount {
    background   : red;
    color        : white;
    font-weight  : bold;
    border-radius: 37px;
    position     : absolute;
    width        : 44px;
    top          : 12%;
    right        : 45px;
    font-size    : 14px;
}

.card-products-discount p:first-child {
    margin-bottom: 0px;
    margin-top   : 3px;
}

.card-products-discount p:last-child {
    line-height  : 10px;
    margin-bottom: 11px;
}

.card-products-card-black {
    position: absolute;
    width   : 44px;
    top     : 41%;
    right   : 45px;
}

.card-products-label {
    font-size  : 13px;
    color      : #0d70ac;
    font-weight: 500;
}

.card-products-button {
    border-radius: 20px !important;
    font-weight  : bold !important;
    padding-left : 21px !important;
    padding-right: 21px !important;
}

.card-products-button-see-more {
    color           : #fff;
    background-color: #007bff;
    background-image: none;
    border-color    : #007bff !important;
}

.card-products-button-see-more:hover {
    color           : #fff;
    background-color: #006fe6;
    border-color    : #007bff;
}

.card-products-button-apply {
    color           : #28a745;
    background-color: transparent;
    background-image: none;
    border-color    : #28a745 !important;
}

.card-products-button-apply:hover {
    color           : #fff;
    background-color: #28a745;
    border-color    : #28a745;
}

/* 
@media screen and (min-width: 990px) and (max-width: 1175px) {
    .card-products-img {
        max-height: 230px;
    }

    .height-container-img-product {
        min-height: 230px;
    }

    .card-products {
        min-width: 328px !important;
    }

    .card-products-title {
        font-size: 17px;
    }

    .card-products-new-price {
        font-size: 22px;
    }

    .card-products-discount {
        width    : 44px;
        top      : 12%;
        right    : 30px;
        font-size: 14px;
    }

    .card-products-card-black {
        width: 40px;
        right: 28px;
    }
}

@media screen and (max-width: 600px) {
    .card-products-button-see-more {
        font-size: 13px !important;
    }

    .card-products-button-apply {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 550px) {
    .card-products-logo {
        max-height: 30px;
    }

    .card-container-products-logo {
        height: 42px;
    }

    .card-products-img {
        max-height: 200px;
    }

    .card-products-title {
        font-size: 15px;
    }

    .card-products-text {
        font-size: 14px;
    }

    .card-products-card-black {
        width: 38px;
    }

    .card-products-price {
        font-size: 21px;
    }

    .card-products-label {
        font-size: 11px;
    }

    @media screen and (max-width: 400px) {

        .card-products-card-black {
            right: 19px;
        }

        .card-products-discount {
            right    : 19px;
            font-size: 12px;
        }
    }
} */