.card-products-img {
    max-height   : 240px;
    max-width    : 100%;
    border-radius: 18px;
}

.icons-options {
    padding      : 10px 13px;
    background   : #fffefe;
    border-radius: 48px;
    margin       : 3px;
    cursor       : pointer;
}

.tips {
    max-width     : 1350px;
    width         : 100%;
    margin-right  : auto;
    margin-left   : auto;
    padding-right : 7.5px;
    padding-left  : 7.5px;
    padding-top   : 3%;
    padding-bottom: 3%;
}

.btn-reset {
    background: white;
    border    : 0px;
    cursor    : default;
}

.title-product {
    min-height : 50px;
    font-size  : 18px;
    color      : #002a53;
    font-weight: 600;
}

.price-product {
    font-size  : 19px;
    color      : #002a53;
    font-weight: bold;
}

.btn-reset:focus {
    outline: none;
}

.icons-options:hover {
    background: #dc4a80;
}

.icons-options:hover i {
    color: #fffefe;
}

.card-products-title {
    font-size: 17px;
    color    : #0d70ac;
}

.card-products-text {
    font-size   : 16px;
    color       : #0d70ac;
    line-height : 18px;
    margin-right: 10%;
}

.card-products-old-price {
    font-size  : 18px;
    color      : #0d70ac;
    line-height: 18px;
    font-weight: bold;
}

.card-products-new-price {
    font-size   : 24px;
    color       : #d20509;
    line-height : 18px;
    font-weight : bold;
    margin-right: 4%;
}

.card-products-price {
    font-size    : 23px;
    color        : #d20509;
    margin-bottom: 0px;
    line-height  : 20px;
    font-weight  : bold;
}

.card-products-discount {
    background   : red;
    color        : white;
    font-weight  : bold;
    border-radius: 37px;
    position     : absolute;
    width        : 44px;
    top          : 12%;
    right        : 45px;
    font-size    : 14px;
}

.card-products-discount p:first-child {
    margin-bottom: 0px;
    margin-top   : 3px;
}

.card-products-discount p:last-child {
    line-height  : 10px;
    margin-bottom: 11px;
}

.card-products-card-black {
    position: absolute;
    width   : 44px;
    top     : 41%;
    right   : 45px;
}

.card-products-label {
    font-size  : 13px;
    color      : #0d70ac;
    font-weight: 500;
}

.card-products-button {
    border-radius: 20px !important;
    font-weight  : bold !important;
    padding-left : 21px !important;
    padding-right: 21px !important;
}

.card-products-button-see-more {
    color           : #fff;
    background-color: #007bff;
    background-image: none;
    border-color    : #007bff !important;
}

.card-products-button-see-more:hover {
    color           : #fff;
    background-color: #006fe6;
    border-color    : #007bff;
}

.card-products-button-apply {
    color           : #28a745;
    background-color: transparent;
    background-image: none;
    border-color    : #28a745 !important;
}

.card-products-button-apply:hover {
    color           : #fff;
    background-color: #28a745;
    border-color    : #28a745;
}


@media screen and (min-width: 990px) and (max-width: 1175px) {
    .card-products-img {
        max-height: 230px;
    }

    .height-container-img-product {
        min-height: 230px;
    }

    .card-products {
        min-width: 328px !important;
    }

    .card-products-title {
        font-size: 17px;
    }

    .card-products-new-price {
        font-size: 22px;
    }

    .card-products-discount {
        width    : 44px;
        top      : 12%;
        right    : 30px;
        font-size: 14px;
    }

    .card-products-card-black {
        width: 40px;
        right: 28px;
    }
}

@media screen and (max-width: 600px) {
    .card-products-button-see-more {
        font-size: 13px !important;
    }

    .card-products-button-apply {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 550px) {
    .card-container-products-logo {
        height: 42px;
    }

    .card-products-img {
        max-height: 200px;
    }

    .card-products-title {
        font-size: 15px;
    }

    .card-products-text {
        font-size: 14px;
    }

    .card-products-card-black {
        width: 38px;
    }

    .card-products-price {
        font-size: 21px;
    }

    .card-products-label {
        font-size: 11px;
    }

    @media screen and (max-width: 400px) {

        .card-products-card-black {
            right: 19px;
        }

        .card-products-discount {
            right    : 19px;
            font-size: 12px;
        }
    }
}

/* sidebar */