.search {
    border-radius: 40px;
    background   : #2f3640;
}

.bg-blue-page {
    background: #4F98B9;
}

.logo-send {
    width : 23px;
    margin: 0px 6px;
}

.content-headers {
    max-width: 480px;
}

.content-empty {
    min-height: calc(100vh - 388px);
}

.container-reset {
    max-width    : 1350px;
    width        : 100%;
    padding-right: 7.5px;
    padding-left : 7.5px;
    margin-right : auto;
    margin-left  : auto;
}

.btn-search {
    border-radius  : 50%;
    background     : #2f3640;
    color          : #2471A3;
    float          : right;
    width          : 40px;
    height         : 40px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border         : 4px;
}

.text {
    border     : none;
    background : none;
    outline    : none;
    float      : left;
    color      : #fff;
    font-size  : 16px;
    line-height: 40px;
    width      : 200px;
    padding    : 0 20px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.container-logo {
    position: absolute;
    top     : -53px;
}

.logo {
    width: 155px;
}

.content-link {
    width: 71%;
}

::placeholder {
    padding-left: 2px;
    color       : #ddd;
}


.footer-style {
    background-color: #002E54;
}

.container-footer {
    max-width: 1380px;
}

.logo-footer {
    max-height: 175px;
    max-width : 100%;
}

.footer-style ol li {
    list-style : none;
    font-weight: 300;
    font-size  : 19px;
    margin-top : 5px;
}

.footer-style ol li b {
    font-weight: bold;
}

.li-width {
    max-width  : 250px;
    line-height: 20px;
}

.icon-footer {
    max-height: 52px;
}

.navbar-expand-lg .navbar-nav {
    font-weight: 500;
}

.social-icon-header {
    top  : -5px;
    right: 2%;
}

.social-icon-header img {
    max-height: 36px;
}

.social {
    display: none;
}

@media (min-width: 990px) and (max-width: 1200px) {
    .logo-footer {
        max-height: 115px;
        max-width : 100%;
    }

    .footer-style ol li {
        font-size: 17px;
    }

    .contact-footer {
        font-size: 24px !important;
    }

    .icon-footer {
        max-height: 45px;
    }

    .text {
        border     : none;
        background : none;
        outline    : none;
        float      : left;
        color      : #fff;
        font-size  : 16px;
        line-height: 40px;
        width      : 154px;
        padding    : 0 20px;
    }

    .content-empty {
        min-height: calc(100vh - 373px);
    }
}

@media (max-width: 990px) {
    .container-logo {
        position: absolute;
        top     : -13px;
        right   : 2%;
    }

    .logo {
        width: 108px;
    }

    .social-icon-header {
        top  : -1px;
        right: 2%;
    }

    .social-icon-header img {
        max-height: 30px;
    }
}

@media only screen and (min-width: 811px) and (max-width: 979px) {
    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 810px) {
    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }

    .logo-footer {
        max-height   : 130px;
        margin-bottom: 2%;
        max-width    : 100%;
    }

    .footer-style ol li {
        font-size: 16px;
    }

    .contact-footer {
        font-size : 20px;
        margin-top: 8px;
    }

    .icon-footer {
        max-height: 40px;
    }
}


@media only screen and (min-width: 420px) and (max-width: 575px) {
    .container-logo {
        position: absolute;
        top     : -17px;
        right   : 2%;
    }

    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }

    .logo {
        width: 88px;
    }

    .logo-footer {
        max-height   : 100px;
        margin-bottom: 5%;
        max-width    : 100%;
    }

    .footer-responsive {
        width      : 205px;
        margin-left: 46px;
    }

    .footer-style ol li {
        font-size: 14px;
    }

    .contact-footer {
        font-size : 18px;
        margin-top: 8px;
    }

    .icon-footer {
        max-height: 40px;
    }
}

@media only screen and (min-width: 315px) and (max-width: 420px) {
    .logo {
        width: 78px;
    }

    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }

    .container-logo {
        position: absolute;
        top     : -10px;
        right   : 2%;
    }

    .logo-footer {
        max-height   : 100px;
        margin-bottom: 5%;
        max-width    : 100%;
    }

    .footer-responsive {
        width: 170px;
    }

    .footer-style ol li {
        font-size: 14px;
    }

    .contact-footer {
        font-size : 18px;
        margin-top: 8px;
    }

    .icon-footer {
        max-height: 40px;
    }


}

@media(max-width: 575px) {
    .text {
        line-height: 30px;
    }

    .search {
        height: 30px;
    }

    .btn-search {
        width : 30px;
        height: 30px;
    }

    .social-icon-header {
        display: none;
    }

    .social {
        display : block;
        position: fixed;
        left    : 0;
        top     : 200px;
        z-index : 2000;
    }

    .social ul {
        list-style  : none;
        text-align  : center;
        padding-left: 0px;
    }

    .social ul li a {
        display           : inline-block;
        color             : #fff;
        background        : #000;
        padding           : 6px 8px;
        text-decoration   : none;
        -webkit-transition: all 500ms ease;
        -o-transition     : all 500ms ease;
        transition        : all 500ms ease;
        width             : 100%;
    }

    .social ul li .icon-facebook {
        background: #3b5998;
    }

    .social ul li .icon-instagram {
        background: #00abf0;
    }

    .social ul li .icon-youtube {
        background: #ae181f;
    }

    .social ul li .icon-mail {
        background: #666666;
    }

    .social ul li a:hover {
        background: #000;
        opacity   : 0.5;
    }
}